*
{
    margin: 0;
}
html, body
{
    height: 100%;
}

body
{
    background-image: url("../images/weather2.png");
    font-family: 'Exo', cursive;
    font-size: 2em;
    padding-top: 70px;
    color: white;
}

section
{
    min-height: 100%;
    margin-bottom: -60px;
}

section:after
{
    content: "";
    display: block;
}

footer, section:after
{
    min-height: 60px;
}

footer
{
    background-color: #f5f5f5;
}

.copyright
{
    margin-top: 15px;
    font-size: 0.7em;
    color: black;
}

.socialCol
{
    text-align:right;
}

nav, .title
{
    font-family: 'Kaushan Script', cursive;
}

.title
{
    margin: 5px auto;
    color: deepskyblue;
}

.title2
{
    color: deepskyblue;
}

.brandName
{
    font-size: 1.3em;
}

.titleBorder
{
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.flag1, .flag
{
    width: 22px;
    height: 20px;
    margin-top: -5px;
}

.div-7
{
    margin-top: -7px;
}

#github
{
    color: black;
}

#github:hover
{
    color: #666;
}

#viadeo
{
    color: orange;
}

#viadeo:hover
{
    color: darkorange;
}

#active
{
    background-color: #3BB9FF;
    color: white
}

#navbarBg
{
    background-color: #3BB9FF;
}

#menu
{
    text-align: center;
}

#menu a:hover
{
    background-color: #3BB9FF;
    color: white;
}

.navBottom
{
    font-size: 1em;
}

.textLang
{
    margin-left: 100px;
    text-decoration: underline;
}

.div20
{
    height: 20px;
}

.smile
{
    color: #3BB9FF;
}

.title
{
    -moz-animation:title 1s ease-out;
    -webkit-animation:title 1s ease-out;
}

@-moz-keyframes title     {0%  { margin-left:-200px;} 100%{ margin-left:0px;}  }
@-webkit-keyframes title   {0%  { margin-left:-200px;} 100%{ margin-left:0px;}  }

.imgKwoon, .animSkill, .portfolioTablet, .text1, .portfolioIphone
{
    -moz-animation:animImg 1s linear;
    -webkit-animation:animImg 1s linear;
}

@-moz-keyframes animImg       {0%  { opacity:0;} 100%{ opacity:100%;}  }
@-webkit-keyframes animImg   {0%  { opacity:0;} 100%{ opacity:100%;}  }

.text2, .imgTribute
{
    -moz-animation:animImg 2s linear;
    -webkit-animation:animImg 2s linear;
}

@-moz-keyframes animImg       {0%  { opacity:0;} 50%  { opacity:0;} 100%{ opacity:100%;}  }
@-webkit-keyframes animImg   {0%  { opacity:0;} 50%  { opacity:0;} 100%{ opacity:100%;}  }